<div class="container">
  <h1>Angular Select Dropdown Example - tutsmake.com</h1>
       
  <label for="select2" class="visually-hidden">Label Text</label>

          <!-- <select id="select2"  class="form-control" onchange="OnchangeSelect($event)">
              <option disabled>Select Website</option>
              <option>Choose Website</option>
              <option *ngFor="let web of websiteList">{{web}}</option>
          </select> -->

          <select id="select2" class='select-option' 
          (change)='OnchangeSelect($event)'>
      <option class='option' 
      *ngFor='let option of websiteList' 
      [value]="option">{{option}}</option>
  </select>